
.movie-card img {
  min-height: 300px;
  width: 100%;
  height: auto;
  transition: transform 0.5s ease-in-out;
}


/* 호버 시 이미지 확대 효과 */
.swiper-slide:hover .movie-image {
  transform: scale(1.1);
}
