/* MovieDetail.css */
.movie-detail {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .poster {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .genres,
  .release-date {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .overview {
    font-size: 18px;
    line-height: 1.5;
  }
  